<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>constraint programming example</title>
  <link rel="stylesheet" href="/static/styles.css">
  <script src="/static/cp.js"></script>
</head>

<body onload="main()">
  <main>
    <div>
      <div>
        <form id="h1-form">
          <input type="range" class="slider h1-r" id="h1-r-min" min="0" max="100" step="10" value="0" name="h1-r-min">
          <label for="h1-r-min">H1-R-MIN</label>
          <br>
          <input type="range" class="slider h1-r" id="h1-r-max" min="0" max="100" step="10" value="100" name="h1-r-max">
          <label for="h1-r-max">H1-R-MAX</label>
          <br>
          <input type="range" class="slider h1-size" id="h1-size-min" min="12" max="32" step="4" value="12" name="h1-size-min">
          <label for="h1-size-min">H1-SIZE-MIN</label>
          <br>
          <input type="range" class="slider h1-size" id="h1-size-max" min="12" max="32" step="4" value="32" name="h1-size-max">
          <label for="h1-size-max">H1-SIZE-MAX</label>
        </form>
      </div>
    </div>
    <div>
      <p>Header 1 Design</p>
      <div id="solutions">...</div>
    </div>
  </main>
</body>

</html>